<section>
  <div class="container">
    <div id="title-container">
      <span id="title">Forms Bite</span>
      <button type="button" class="btn" id="copyBtn" (click)="copyURL()"><span style="padding-right: 5px;">Compartilhar</span><span class="material-symbols-outlined">content_copy</span></button>
    </div>
    
    <form (ngSubmit)="showResults()">
      <div class="form-group">
          <label for="question">Pergunta:</label>
          <input type="text" id="question" name="question" required>
      </div>
      <div class="form-group radio-group">
          <label for="answers">Escolha:</label>
          <label name="answers"><input type="radio" name="choice" value="sim"> Sim</label>
          <label name="answers"><input type="radio" name="choice" value="nao"> Não</label>
      </div>
      <button type="submit" class="btn">Enviar</button>
    </form>
    <div id="result" [hidden]="!isResultVisible">
      Votos para Sim: {{ totalSim }} <br>
      Votos para Não: {{ totalNao }}
    </div>
  </div>
</section>
