<div class="logo">
  <span class="logo-title">Forms Bite</span>
</div>

<section>
  <div class="container">
    <div id="title-container">


    </div>

    <form (ngSubmit)="save()">
      <div class="form-group">
        <span id="title">{{ title }}</span>
      </div>
      <div class="form-group answers-list">
        <div *ngFor="let answer of answers" class="answer-container">
          <span>{{ answer.text }}</span>
          <span id="result" *ngIf="isResultVisible">{{ answer.votes }}</span>
        </div>
      </div>
      <div class="button-container">
        <button type="submit" id="vote-button" class="btn" [disabled]="!isVoteSelected">Votar</button>
        <div class="button-grouping">
          <button type="button" class="btn btn-with-icon" (click)="showResults()">
            <span class="icon-padding">Resultados</span>
            <span class="material-symbols-outlined">monitoring</span>
          </button>
          <button type="button" class="btn btn-with-icon" (click)="copyURL()">
            <span class="icon-padding">Compartilhar</span><span class="material-symbols-outlined">content_copy</span>
          </button>

        </div>
      </div>

    </form>



  </div>
</section>