* {
  font-family: "Roboto", Arial, sans-serif;
}

::ng-deep app-voting-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 0px) and (max-width: 768px) {
  section {
    min-width: 400px !important;
  }

  .container {
    max-width: 300px !important;
  }

  .form-group {
    text-align: center;
  }

  .button-grouping {
    flex-direction: column !important;
  }

  .btn-with-icon {
    margin-top: 5px;
    margin-left: 0px !important;
  }
}

section {
  min-width: 800px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

#title {
  font-size: 2.5em;
  font-weight: bold;
  color: #6e4b3b;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #6e4b3b;
}

input[type="text"] {
  width: calc(100% - 40px);
  padding: 12px;
  border: 1px solid #6e4b3b;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 16px;
  background-color: #fff9eb;
}

.answers-list {
  display: flex;
  flex-direction: column;
  min-height: 400px;
  border: 1px solid #6e4b3b;
  border-radius: 12px;
  padding: 10px 20px;
  text-align: right;
}

.answer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  background-color: #8F624D;
  color: rgb(228, 228, 228);
  margin-bottom: 10px;
  padding: 0 10px;
}

.answer-container:hover {
  background-color: #8f624d77;
  color: rgb(39, 39, 39);
  cursor: pointer;
}

.selected-answer {
  background-color: #6e4b3b;
}

#result {
  color: #fff;
  background-color: #8e6f59;
  padding: 6px 12px;
  border-radius: 20px;
  font-size: 14px;
  display: inline-block;
  vertical-align: middle;
  transition: opacity 0.3s ease;
  margin-left: 10px;
}

.answers-list.show-votes #result {
  opacity: 1;
  transform: scale(1);
}

@keyframes showVotes {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.radio-group label {
  display: block;
}

.button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.btn {
  background-color: #6e4b3b;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #503525;
}

#vote-button {
  padding: 12px 24px;
}

.disabled-button {
  animation: none;
  cursor: not-allowed;
  background-color: #6e4b3b56;
}

.disabled-button:hover {
  background-color: #6e4b3b56;
}

.button-grouping {
  display: flex;
  flex-direction: row;
  margin-left: auto;
}

.btn-with-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 11px;
  margin-left: 8px;
  min-width: 40px;
}

.icon-padding {
  padding-right: 5px;
}

