.container {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 50px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#copyBtn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-bottom: 5px;
  padding: 8px 11px;
  text-align: center;
}

#title {
  font-family: 'Georgia', serif;
  font-size: 1.5em;
  font-weight: bold;
  color: #6e4b3b;
}

form {
  border-top: 2px solid #6e4b3b;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #6e4b3b;
}

input[type="text"] {
  width: calc(100% - 40px); 
  padding: 12px;
  border: 1px solid #6e4b3b;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 16px;
  background-color: #fff9eb; 
}

.radio-group {
  padding-left: 20px;
}

.radio-group label {
  display: block;
}

.btn {
  background-color: #6e4b3b;
  color: #fff;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  font-family: "Roboto", Arial, sans-serif;
}

.btn:hover {
  background-color: #503525;
}

#result {
  margin-top: 20px;
  color: #6e4b3b;
}