::ng-deep body {
    margin: 0 !important;
}

::ng-deep html {
    font-family: 'Georgia', serif;
    background-color: #f5f2e7;
    height: 100vh;
    width: 100%;
}

::ng-deep .logo {
    margin-top: 50px;
    margin-bottom: 20px;
    cursor: pointer;
}

::ng-deep .logo img {
    width: 100px;
}

::ng-deep .logo-title {
    font-family: 'Georgia', serif;
    font-size: 1.5em;
    font-weight: bold;
    color: #6e4b3b;
}