<body>
  <header>
    <h2>Criar Pergunta</h2>
  </header>

  <section>
    <form (submit)="criarPergunta()">
      <div class="form-group">
        <label for="pergunta">Pergunta:</label>
        <input type="text" id="pergunta" name="pergunta" [(ngModel)]="novaPergunta" required>
      </div>
      <div class="alternativas-group">
        <div *ngFor="let alternativa of alternativas; let i = index" class="form-group">
          <label for="alternativa{{i}}">Alternativa {{i+1}}:</label>
          <input type="text" id="alternativa{{i}}" name="alternativa{{i}}" [(ngModel)]="alternativasModel[i]">
          <button type="button" class="btn-remove" (click)="removerAlternativa(i)">-</button>
        </div>    
        <button type="button" class="btn" (click)="adicionarAlternativa()">+</button><br><br>
      </div>
      <button type="submit" class="btn" (click)="generateRandomId()">Criar</button>
    </form>
  </section>
</body>
